[submodule "contracts/lib/swap-vm"]
	path = contracts/lib/swap-vm
	url = https://github.com/1inch/swap-vm
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/vectorized/solady
